Language: Cpp
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Attach
BreakAfterAttributes: Leave
ColumnLimit: 120
Cpp11BracedListStyle: true
IncludeBlocks: Merge
IndentWidth: 2
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
SortUsingDeclarations: true
Standard: c++20
UseCRLF: false
UseTab: Never
